Flask==1.0.2
jsonpickle
pybase64
opencv-python==4.1.0.25
gensim==3.7.2
requests
torch
PyMySQL
times
paramiko
numpy
scikit-learn
termcolor
regex
tqdm
prettytable
scipy
spacy
nltk
elasticsearch
pexpect==4.2.1
